* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-color: rgba(0, 0, 0, 0.904);
}

body::-webkit-scrollbar {
    width: 0px;
}

input {
    border: none;
    outline: none;
}

.hero {
    background-image: url('../images/creative-wood.png');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow-x: hidden;
}

.hero .overlay {
    position: absolute;
    left: 0;
    top: 0;
    min-height: 100vh;
    min-width: 100vw;
    background-color: rgba(0, 0, 0, 0.604);
    z-index: 2;
    display: none;
}

.hero .modal {
    position: absolute;
    top: 1;
    left: 1;
    right: 1;
    bottom: 1;
    background-color: #EFE9F4;
    padding: 1rem;
    z-index: 2;
    border-radius: 2px;
    display: none;
    border: black 1px solid;
}

.modal #close-button {
    cursor: pointer;
    position: absolute;
    width: 3vw;
    top: -15%;
    right: -4%;
}

.modal h1 {
    font-size: 2vw;
    font-weight: 575;
    font-family: 'Libre Baskerville', serif;
}

.hero .logo {
    position: absolute;
    top: 2vh;
    left: 2vw;
    cursor: default;
    font-size: 2vw;
    color: #fafafa;
    font-family: 'Libre Baskerville', serif;
    letter-spacing: 3px;
}

.hero h2 {
    font-family: 'Libre Baskerville', serif;
    font-size: 3vw;
    letter-spacing: .25vw;
    color: #fafafa;
    font-weight: 500;
    z-index: 1;
}

.hero h5 {
    margin-top: 0;
    font-size: 2.4vw;
    color: #fafafa;
    font-family: 'Averia Serif Libre', cursive;
    font-variant: small-caps;
    font-weight: 300;
    z-index: 1;
}

.hero .hero-link {
    display: block;
    border: #66C3FF .05vw solid;
    color: rgb(233, 233, 233);
    text-decoration: none;
    padding: 1.5vh 1.5vw;
    z-index: 1;
    /* font-family: 'Pacifico', cursive; */
    font-family: 'Libre Baskerville', serif;
    font-size: 1.5vw;
}

.hero .hero-link:hover {
    border: #66C3FF 1px solid;
    color: white;
    cursor: pointer;
}